.login-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-content {
  text-align: center;
}

.spotify-logo {
  width: 250px;
}

.sync-message {
  margin-top: 10px;
}
